services:
  db:
    image: postgres:13
    environment:
      POSTGRES_DB: imageorganiser
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: securepassword
    #ports:
    #  - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - imageorganiser_network

  backend:
    build: ./backend
    depends_on:
      - db
    #environment:
      #since they are in the same network we can use the internal port 5432
      #SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/imageorganiser
      #SPRING_DATASOURCE_USERNAME: admin
      #SPRING_DATASOURCE_PASSWORD: securepassword
      #SPRING_JPA_HIBERNATE_DDL_AUTO: create-drop
      #SPRING_JPA_SHOW_SQL: true
    #ports:
    #  - "8180:8080"
    networks:
      - imageorganiser_network
    volumes:
      #- /home/martin/daten:/app/daten:rw
      #- /home/mosh/logs:/app/logs:ro
      - C:/Users/m.frank/Downloads:/app/imagedir:rw

  frontend:
    build: ./frontend
    depends_on:
      - backend
    ports:
      - "8180:80"
    networks:
      - imageorganiser_network
    #hinweis: frontend in den labels bezieht sich auf den service (genannt ueber build)
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.rule=PathPrefix(`/image`)"
      - "traefik.http.middlewares.strip-image-prefix.stripprefix.prefixes=/image"
      - "traefik.http.routers.frontend.middlewares=strip-image-prefix"
      - "traefik.http.services.frontend.loadbalancer.server.port=80"
      #oder doch port 8180?

networks:
  imageorganiser_network:
    driver: bridge

volumes:
  postgres_data:
